<!-- <router-outlet></router-outlet> -->

<div class="container">
  <div class="nav-bar">
    <div class="logo-container">
      <img class="logo" src="assets/logo.svg" alt="logo">
    </div>
  </div>
  <div class="main-body">
    <div class="window-container">
      <img src="assets/illustration-mockups.svg" alt="window">
    </div>
    <div class="text-container">
      <div class="title">
        <h1>Build The Community Your Fans Will Love</h1>
      </div>
      <div class="sub-title">
        <p>Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion. </p>
      </div>
      <div class="register">
        <button class="register-btn" (click)="register()">Register</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="social-media-container">
      <div class="social-media-icon-box">
        <img class="social-icon" src="https://img.icons8.com/material-sharp/24/000000/facebook-f.png"/>      </div>
      <div class="social-media-icon-box">
        <img class="social-icon" src="https://img.icons8.com/android/24/000000/twitter.png"/>
      </div>
      <div class="social-media-icon-box">
        <img class="social-icon" src="https://img.icons8.com/material-outlined/24/000000/instagram-new.png"/>
      </div>
    </div>
  </div>
</div>