<!-- <router-outlet></router-outlet> -->
<div class="container">
  <header>
    <div class="nav-bar">
      <div class="logo-container">
        <a href="http://google.com">
          <img class="logo" src="assets/logo.svg" alt="logo">
        </a>
      </div>
    </div>
  </header>
  <main>
    <div class="window-container">
      <img src="assets/illustration-mockups.svg" alt="window">
    </div>
    <div class="text-container">
      <div class="title">
        <h1>Build The Community Your Fans Will Love</h1>
      </div>
      <div class="sub-title">
        <p>Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion. </p>
      </div>
      <div class="register-new">
        <button class="register-btn-new" (click)="register()">Register</button>
      </div>
    </div>
  </main>
  <footer>
    <div class="social-media-container">
      <div class="social-media-icon-box">
        <img src="assets/facebook-f-brands.svg" alt="facebook" class="convert-white fb-icon">   
      </div>
      <div class="social-media-icon-box">
        <img src="assets/twitter-brands.svg" alt="twitter" class="convert-white twi-icon"> 
      </div>
      <div class="social-media-icon-box">
        <img src="assets/instagram-brands.svg" alt="instagram" class="convert-white ins-icon"> 
      </div>
    </div>
  </footer>
</div>
